.checkout-banner {
  background-size: cover;
  background-position: bottom;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.recap {
  margin-top: 15px;
  font-family: 'Muli', sans-serif !important;
  padding: 10px;

  .recap-line {
    background: #fff6f2;
    .recap-infos {
      padding: 5px 10px;
      margin-bottom: 10px;
      .recap-title {
        font-size: 16px;
        font-weight: bold;
        margin:auto;
        margin-bottom: 10px;
      }
      .recap-dates {
        font-size: 16px;
        margin:auto;
      }
    }
    .recap-price {
      width: 80px;
      margin: auto;
      color: #FD894A;
      font-size: 20px;
      a {
        color: grey;
      }
    }
  }
}

.checkout-title {
  color: #FD894A;
  margin-top: 15px;
  font-size: 25px;
}
