.symbol {
  margin-right: 10px;
  color: grey;
}

.go-to-checkout {
  width: 91%;
  padding: 5px 15px;
  margin-top: 30px;
}

.no-link {
  text-decoration: none;
  font-size: 16px;
  color: #FD894A;
  text-decoration: underline;
}
