.symbol {
  margin-right: 10px;
  color: grey;
}

.go-to-checkout {
  width: 100%;
  background-color: #FD894A;
  color: white;
  z-index: +1;
  border-radius: 4px;
  padding: 10px 101px;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.no-link {
  text-decoration: none;
  font-size: 16px;
  color: #FD894A;
  text-decoration: underline;
}

.info-activity-completed {
  font-weight: lighter;
}

.div-checkout-button {
  background-color: white;
  padding: 18px 0;
  position: fixed;
  bottom: 0px;
  width: 92%;
}
