.booking-day {
  height: auto;
}

.group-infos {
  padding: 3px 6px;
}

.hour-price {
  font-weight: bold;
  color: #FD894A;
}

.group-title {
  font-weight: bold;
}

.infos-group {
  font-weight: lighter;
}
