.filter-btn {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 1px 15px;
  margin-right: 5px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  list-style: none;
  p {
    margin: 0;
  }
}

.btn-ghost:hover {
  opacity: 1;
}


button:focus {outline:0;}

