.activity-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-top: 15px;
}

.card-product-infos {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.activity-card img {
  height: 100%;
  width: 150px;
  fit: cover;
}

.activity-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 60px;
  color: black;
  text-decoration: none;
}

.activity-card h5 {
  color: #FD894A;
}

.activity-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.activity-card .card-product-infos {
  padding: 16px;
  text-decoration: none;
}

.activity-cards a {
  text-decoration: none;
}

.activity-pricing {
  margin-bottom: -15px;
}

h5.initial-price {
  color: grey;
}



