
body {
  font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.results-title {
  color: #FD894A;
  font-size: 20px;
}

.activity-card {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  margin-top: 15px;
  border: solid 1px #e2e0e0;
  //border-left: solid 4px #FD894A;
  border-right: solid 3px #FD894A;
  box-shadow: 0px 0px 5px 1px rgba(237,237,237,1);
  img {
    height: 100%;
    width: 140px;
    object-fit: cover;
  }

  //.far {
    //color: #FD894A;
   // padding: -20px;
  //}

  .activity-infos {
    padding: 16px;
    width: 100%;
    text-decoration: none;
    position: relative;
  }

  .activity-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
    text-decoration: none;
  }

  .activity-pricing {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 2px;
    right: 10px;

    .initial-price {
      font-size: 13px;
      color: grey;
      text-decoration: line-through;
      margin-right: 10px;
    }
    .new-price {
      color: #FD894A;
    }
  }
}




