 a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

.activity-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-top: 15px;
  img {
    height: 100%;
    width: 140px;
    fit: cover;
  }

  .activity-infos {
    padding: 16px;
    text-decoration: none;
    position: relative;
  }

  .activity-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
    text-decoration: none;
  }

  .activity-pricing {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 2px;
    right: 10px;

    .initial-price {
      font-size: 13px;
      color: grey;
      text-decoration: line-through;
      margin-right: 10px;
    }
    .new-price {
      color: #FD894A;
    }
  }
}




