.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid gainsboro;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 30px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  padding: 0
}
